@charset "UTF-8";

body {
    background-color: rgba(49, 49, 221, 0.705);
    font: normal 15pt Arial;

}

header {
    text-align: center;
    color: white;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.452) ;
}

select#flista {
    width: 170px;
}

div {
    padding: 8px;
}



footer {
    text-align: center;
    font-style: italic;
    color: white;
}